<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

	<targets async="true">
		<target xsi:type="ColoredConsole" name="Console"
		        layout="[${longdate} ${level:uppercase=true} ${logger:shortName=true}] ${message:withexception=true}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="${environment:variable=LOG_LEVEL:whenEmpty=Info}" writeTo="Console" />
	</rules>
</nlog>
